.menu {
  display: none;
}
#toggle:checked + .menu {
  display: block;
}
.menu-icon {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-icon {
      display: block;
  }
  .close-icon {
      display: none;
  }
}
