.scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.scroll-top:hover {
  background-color: #555;
}
/* Show button when scrolling */
@media screen and (min-height: 600px) {
  body {
      position: relative;
  }
  .scroll-top {
      display: block;
  }
}
